.fondobar{
    background-color:rgb(0, 216, 151);
}

.fondo{
    background-color: rgb(56, 56, 56);
}

.container1{
    background-color: rgb(255, 255, 255);
}

.titulos{
    font-weight: 600;
}

.imagencar{
    width: 100px;
    height: 200px;
    
}

.containerspace{
    height: 20px;
    background-color: rgb(255, 255, 255);
}

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #1d4061;
    color: #fff;
    height: 100%;
}
.copyright {
    background-color: #363636;
  }

.image2{
    height: 200px;
    width: 300px;
}

.image3{
    height: 180px;
    width: 250px;
}

.image4{
    height: 250px;
    width: 250px;
}

.fondo2{
    background-color: rgb(255, 255, 255);
}

.text1{
    text-align: right;
}

.border1{
    border-style: solid;
    border-radius: 5px;;
}

.border2{
    border-color: rgb(0, 216, 151);
    padding: 20px;
}

div.polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

.row1{
    text-align: center;
    padding: 10px 20px;
  }

.redessociales{
    width: 50px;
    height: 50px;
}

.banner{
    width: 600px;
    height: 200px;
    }
.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

.quienes1{

    background-color: #1d4061;

      }
.quienes2{

    background-color: aquamarine;

      }
.panoramica{

    width: 1200px;
    height: 300px;
}

.spoiler
    {
    border:1px solid #ddd;
    padding:3px;
    }
.spoiler .inner
    {
    border:1px solid #eee;
    padding:3px;margin:3px;
    }

.tachado{
    text-decoration: line-through;
}

.precio{
    color: rgb(177, 19, 19);
}

.quienessomos{
    color: #eee;
}

.logonav{
    height: 75px;
    width: 75px;
}

